{% extends 'base.html.twig' %}

{% block title %}Editer une Réservation{% endblock %}

{% block body %}
    <h1>Editer une Réservation</h1>

    <a href="{{ path('reservation_index') }}"><i class="fas fa-undo-alt" id="return"></i></a>

    {{ include('reservation/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
