{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle réservation</h1>
    <div class"trait"></div>
    <a href="{{ path('reservation_index') }}">Retour à la liste</a>

    {{ include('reservation/_form.html.twig') }}

{% endblock %}
