h2{
    text-align: center;
}

.message{
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: rgba(107, 211, 3, 0.452);
    border: 2px solid rgb(59, 116, 2);
    color:rgb(38, 73, 4);
    padding: 15px;
    margin-bottom: 40px;
}


.detailresa{
    width: 50%;
    margin : auto;
    font-size: 25px;
    margin-bottom: 60px;
}
.detailresa ul{
    background-color: rgba(245, 245, 220, 0.733);
    padding-left: 205px;

}

#parainfo{
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    
}
#impression{
    padding: 10px;
    float: right;
}
#Recaptarif{
    display: flex;
    justify-content: space-evenly;
    margin: 6% 0;
}

@media screen and (max-width: 1120px){
    #impression{
        padding: 10px;
        margin-bottom: 20px;
        float: none;
    }

    #Recaptarif{
        display: block;
        text-align: center;
    }
}
